@import "tailwindcss";
@ theme {
 --color-accent:#BEE532;
 --color-Lime-gray:#5D6150;
 --color-gray:#4F4F4F;
 --color-white: #DFDFDF;
}
@layer components{
.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  }
}
/* @layer utilities{
.bg-logo{
    background-image:url('/images/logo.png') ;
  }
} */